.heading {
  background-color: #0f0f1e;
  color: white;
  padding: 8em 8em 1em 8em;
  text-align: center;
}

.heading_text h2 {
  /* font-family: 'Monument', sans-serif; */
  font-weight: 600;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.heading_text p {
  font-size: 1.25rem;
}

.panel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  padding: 4em 8em;
  align-items: center;
  justify-content: space-around;
  background-color: #0f0f1e;
}

.panel.single {
  grid-template-columns: auto;
  text-align: center;
}

.panel_img {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.panel_img img {
  border-radius: 8px;
  position: relative !important;
  width: 90% !important;
}

.single .panel_img img {
  width: 80% !important;
}

.panel_text {
  position: relative;
  z-index: 2;
  color: white;
}

.reverse .panel_text {
  grid-row: 1;
}

.panel_text h2 {
  font-family: 'Monument', sans-serif;
  font-weight: 500;
  margin-bottom: 0.9rem;
  /* line-height: 1.9; */
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  gap: 0.8rem;
}

.panel.single .panel_text h2 {
  display: unset;
}

.panel_text p,
.panel_text li {
  font-size: 1.1rem;
  margin-bottom: 0.9rem;
}

.panel_text p:last-child {
  margin-bottom: 0rem;
}

.panel_text ul {
  padding-left: 2rem;
}

@media (max-width: 1025px) {
  .heading {
    padding: 8em 4em 2em 4em;
  }

  .panel {
    padding: 2em 4em;
    gap: 2em;
    align-items: start;
  }

  .heading_text h2 {
    font-size: 3rem;
  }

  .heading_text p {
    font-size: 1.05rem;
  }

  .panel_text h2 {
    font-size: 1.6rem;
  }

  .panel_text p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .panel_text li {
    text-align: left;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .panel.single {
    gap: 2em;
  }
}

@media (max-width: 821px) {
  .heading_text h2 {
    font-size: 3rem;
  }

  .heading_text p {
    font-size: 1.05rem;
  }

  .panel_text h2 {
    font-size: 1.2rem;
  }

  .panel_text p {
    font-size: 0.7rem;
  }

  .panel_text li {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .heading {
    padding: 7em 4em 0em 4em;
  }

  .panel {
    padding: 1em;
    padding-bottom: 1em;
    grid-template-columns: auto;
    gap: 2em;
  }

  .panel::after {
    content: '';
    /* position: absolute; */
    width: 100%;
    height: 1.5px;
    z-index: 1;
    background: linear-gradient(90deg, #c1ff04, #0fd5ff);
  }

  .heading_text h2 {
    font-size: 2rem;
    text-transform: capitalize;
  }

  .heading_text p {
    font-size: 0.8rem;
  }

  .panel_img img {
    width: 100% !important;
  }

  .panel_text {
    grid-row: 1;
  }

  .panel_text h2 {
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: left;
  }

  .panel_text li {
    text-align: left;
    font-size: 1rem;
  }

  .panel_text p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .panel.single {
    width: 100%;
    text-align: left;
    align-self: flex-start;
    justify-self: flex-start;
  }

  .panel.single .panel_img img {
    width: 100% !important;
  }

  .panel.single::after {
    content: '';
    /* position: absolute; */
    width: 100%;
    height: 2px;
    z-index: 1;
    background: transparent;
  }
}