.container {
  background-color: #0c0c24;
  color: #fff;
  padding: 8em 8em;
  border-radius: 8px;
  margin: auto;
}

.heading {
  text-align: center;
  font-family: 'Monument', sans-serif !important;
  font-size: 3rem;
  font-weight: bold;
}

.profile_card {
  display: flex;
  align-items: center;
  border: 1px solid #122645;
  padding: 1rem;
  border-radius: 8px;
  margin: 2.5rem 0;
  max-width: 80%;
}

.profile_info {
  display: flex;
  align-items: center;
}

.profile_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
}

.registration_status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #122645;
  padding: 1rem;
  border-radius: 8px;
  margin: 2.5rem 0;
  max-width: 80%;
  font-weight: bold;

}

.not_registered {
  color: red;
}

.register_button {

  padding: 10px 30px;
  font-size: 16px;
  color: #0c0c24;
  text-align: center;
  border-radius: 9px;
  background: #0c0c24;
  /* Button background color */
  position: relative;
  cursor: pointer;

  border: 1px solid transparent;
  background-image: linear-gradient(90deg, #c1ff04, #0fd5ff), linear-gradient(90deg, #c1ff04, #0fd5ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.section {
  /* border: 1px solid #122645; */
  max-width: 80%;
  /* padding: 1rem; */
  border-radius: 8px;
  margin: 2.5rem 0;
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.section_header h2 {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.connection_table {
  width: 100%;
  border-collapse: collapse;
}

.connection_table th,
.connection_table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #122645;
}

.link_button,
.wallet_button {
  margin: 1.5em 0 0 0;
  padding: 10px 30px;
  font-size: 16px;
  color: white;
  text-align: center;
  border-radius: 9px;
  background: #0c0c24;
  /* Button background color */
  position: relative;
  cursor: pointer;

  border: 1px solid transparent;
  background-image: linear-gradient(#0c0c24, #0c0c24), linear-gradient(90deg, #c1ff04, #0fd5ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.wallet_list {
  border: 1px solid #122645;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
}

.view_points {
  color: #00aaff;
  text-decoration: none;
}


.network_section {
  /* background-color: #0f0f1e; */
  margin: 0;
  border: 1px solid #122645;
  border-radius: 8px;
  /* padding: 1em 8em; */
}

.network_header {
  color: #c1ff04;
  padding: 1rem;
  border-bottom: 1px solid #122645;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.network_tooltip {
  display: flex;
  gap: 10px;
  align-items: center;
}

.network_header a {
  background: -webkit-linear-gradient(90deg, #005eff 0%, #246cc1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.network {
  padding: 1rem;
}

.network_text {
  margin: 0.6em 0 1.3em 0;
}

.network_title {
  margin: 1em 0;
  color: white;
  font-family: 'Monument', sans-serif !important;
  font-size: 2rem;
}

/* Grid Section */
.grid_section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.member_card {
  display: flex;
  gap: 1em;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 19px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.avatar {
  border-radius: 50%;
  border: 1px solid #f2f4f7;
}

.avatar_placeholder {
  width: 60px;
  height: 60px;
  background-color: #444;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.member_details {
  width: calc(100% - 60px - 1em);
}

.member_name {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}

.member_role {
  font-weight: 300;
  margin: 0.3em 0 0 0;
  font-size: 1rem;
  color: #d0d5dd;
  width: 85%;
}

.row td {
  font-size: 14px;
}

.row td button {
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid #122645;
  border-radius: 10px;
  cursor: pointer;
}

.row td div,
div.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.not_linked {
  color: rgba(250, 112, 102, 0.86);
}