.hero,
.launch {
  /* border: 8px solid var(--primary-color); */
  height: 100vh;
}

.bg {
  filter: brightness(0.3);
}

.hero {
  position: relative;
  border-top: none;
  background-image: url('/images/hero.png');
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.627);
}

.hero_title {
  padding-top: 2em;
  position: relative;
  z-index: 2;
  color: #e7f8ff;
  font-size: 6em;
  line-height: 1;
  text-align: center;
  background: linear-gradient(180deg, #0f0f1e 7.16%, rgba(0, 0, 0, 0) 97.7%);
  font-family: 'Monument', sans-serif !important;
  font-weight: bold;
}

.hero span {
  background: linear-gradient(90deg, #c6fb0b 0%, #00c5ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_people {
  position: relative;
  /* animation: slide 10s infinite; */
  /* position: absolute; */
  transform: translate(0%, 0);
  bottom: 0%;
  z-index: 2;
  /* margin: auto; */
}
.hero_people::after {
  content: '';
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #0f0f1e 70.16%, rgba(0, 0, 0, 0) 97.7%);
}

.hero_people img {
  filter: grayscale(100%);
  transition: filter 0.1s;
  margin-left: -40px;
}
.hero_people img:hover {
  filter: grayscale(0%);
}

.panel {
  position: relative;
  display: flex;
  gap: 2em;
  /* grid-template-columns: 40% 60% ; */
  height: 100vh;
  padding: 0 2em;
  align-items: center;
  justify-content: space-around;
  /* grid-auto-rows: 1fr; */
}
.panel.reverse {
  flex-direction: row-reverse;
  background-color: #0f0f1e;
}

.panel.single {
  display: block;
  background-image: url('/images/scroller.png');
  background-blend-mode: lighten;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel.founder {
  flex-direction: row-reverse;
  background-color: #0f0f1e;
  justify-content: center;
  gap: 0em;
}

.panel::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #0f0f1e 7.16%, rgba(0, 0, 0, 0) 97.7%);
}

.panel_img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel_img .bg {
  /* position: relative; */
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
  /* z-index: 1; */
}

.panel_text h2 {
  font-family: 'Monument', sans-serif !important;
  font-weight: normal;
  color: white;
}

.panel_text h2 > span {
  display: block;
}

.panel_text h2 > span:first-child {
  font-size: 1.5em;
}
.panel_text h2 > span:nth-child(2) {
  font-size: 2.4em;
}
.panel_text h2 > span:last-child {
  font-size: 3.5em;
}
.panel_text p {
  font-family: 'Monument', sans-serif !important;
  font-weight: normal;
  color: white;
  font-size: 2em;
}
.about,
.art {
  position: relative;
  z-index: 3;
}
.art {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.art_robot {
  margin-top: 6em;
  animation: floatingReverse 3s ease-in-out infinite;
}
.art_girl {
  margin-right: -50px;
  animation: floating 3s ease-in-out infinite;
}
.art_vs {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -30%);
  font-weight: normal;
  background-color: #c6fb0b;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.art_kyzzen {
  animation: scale 3s ease-in-out infinite;
}

.experiment {
  text-align: center;
  position: relative;
  z-index: 2;
}

.experiment h2 {
  padding: 2em 0;
}

.experiment img {
  background-color: white;
  /* padding: em; */
  border-radius: 20px;
  object-fit: cover;
}
.founder_text,
.founder_img {
  position: relative;
  z-index: 2;
}
.founder_img img {
  border-radius: 50px 0px 0 50px;
}
.network {
  position: relative;
  z-index: 2;
}

/* Grid Section */
.grid_section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  justify-items: center;
}

.member_card {
  display: flex;
  gap: 1em;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.avatar {
  border-radius: 50%;
  border: 1px solid #f2f4f7;
}

.avatar_placeholder {
  width: 60px;
  height: 60px;
  background-color: #444;
  border-radius: 50%;
  margin: 0 auto 10px;
}
.member_details {
  width: calc(100% - 60px - 1em);
}

.member_name {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}

.member_role {
  font-size: 0.9rem;
  color: #d0d5dd;
}
@media (max-width: 1200px) {
  .hero {
    overflow: hidden;
  }

  .hero_girl {
    width: 58%;
    height: unset;
    left: -20%;
  }

  .hero_boy {
    width: 67%;
    height: unset;
    right: -20%;
  }

  .launch {
    height: 60vh;
  }

  .about,
  .art,
  .founder,
  .utility {
    height: 50vh;
    /* margin-top: 3em; */
    margin-right: 0%;
    margin-left: 0%;
  }

  .panel_text {
    margin: 1em;
  }

  .about .panel_text,
  .founder .panel_text {
    max-width: 73%;
    /* position: relative; */
  }

  .art .panel_text,
  .utility .panel_text {
    width: 73%;
    /* position: relative; */
  }

  .hero h1 {
    font-size: 6.8rem;
  }

  .hero span {
    font-size: 6rem;
  }

  .panel_text h2 {
    font-size: 2.5em !important;
  }

  .panel_text p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .hero {
    overflow: hidden;
  }

  .hero_girl {
    width: 50%;
    height: unset;
    left: -15%;
  }

  .hero_boy {
    width: 55%;
    height: unset;
    right: -20%;
  }

  .about,
  .art,
  .founder,
  .utility {
    clip-path: none;
    /* border: 8px solid var(--primary-color); */
  }

  .panel {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    margin: 1em 0;
  }

  .about,
  .art,
  .founder,
  .utility {
    height: 500px;
    /* margin-top: 3em; */
    margin-right: 0%;
    margin-left: 0%;
  }

  .about .panel_border,
  .art .panel_border,
  .founder .panel_border,
  .utility .panel_border {
    display: none;
    clip-path: none;
  }

  .about .panel_img,
  .art .panel_img,
  .founder .panel_img,
  .utility .panel_img {
    clip-path: none;
  }

  .panel_text {
    margin: 1em;
  }

  .about .panel_text,
  .founder .panel_text {
    max-width: 73%;
    /* position: relative; */
  }

  .art .panel_text,
  .utility .panel_text {
    width: 73%;
    /* position: relative; */
  }

  .hero,
  /* .about, */
  /* .art, */
  /* .founder,
.utility, */
  .launch {
    height: 60vh;
  }

  .hero h1 {
    font-size: 4.6rem;
  }

  .hero span {
    font-size: 4.2rem;
  }

  .panel_text h2 {
    font-size: 2.5em !important;
  }

  .panel_text p {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .hero {
    overflow: hidden;
  }

  .hero_girl {
    width: 60%;
    height: unset;
    left: -20%;
  }

  .hero_boy {
    width: 73%;
    height: unset;
    right: -25%;
  }

  .about,
  .art,
  .founder,
  .utility {
    clip-path: none;
    /* border: 8px solid var(--primary-color); */
  }

  .panel {
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    margin: 1em 0;
  }

  .about,
  .art,
  .founder,
  .utility {
    height: 500px;
    /* margin-top: 3em; */
    margin-right: 0%;
    margin-left: 0%;
  }

  .about .panel_border,
  .art .panel_border,
  .founder .panel_border,
  .utility .panel_border {
    display: none;
    clip-path: none;
  }

  .about .panel_img,
  .art .panel_img,
  .founder .panel_img,
  .utility .panel_img {
    clip-path: none;
  }

  .panel_text {
    margin: 1em;
  }

  .about .panel_text,
  .founder .panel_text {
    max-width: 73%;
    /* position: relative; */
  }

  .art .panel_text,
  .utility .panel_text {
    width: 73%;
    /* position: relative; */
  }

  .hero,
  /* .about, */
  /* .art, */
  /* .founder,
.utility, */
  .launch {
    height: 60vh;
  }

  .hero h1 {
    font-size: 4.6rem;
  }

  .hero span {
    font-size: 4.2rem;
  }

  .panel_text h2 {
    font-size: 2.5em !important;
  }

  .panel_text p {
    font-size: 16px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1%);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatingReverse {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-60px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
