.network_container {
  background: url('/images/network.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px;
  text-align: left;
  height: 100%;
}

.network_container::before {
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  background: #000000b2;
}

/* Header Section */
.header_section {
  position: relative;
  margin-bottom: 40px;
}

.title {
  font-size: 5rem;
  font-weight: 400;
}

.description {
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 90%;
}

/* Grid Section */
.grid_section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  justify-items: center;
}

.member_card {
  display: flex;
  gap: 1em;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.avatar {
  border-radius: 50%;
  border: 1px solid #f2f4f7;
}

.avatar_placeholder {
  width: 60px;
  height: 60px;
  background-color: #444;
  border-radius: 50%;
  margin: 0 auto 10px;
}
.member_details {
  width: calc(100% - 60px - 1em);
}

.member_name {
  font-size: 1.2rem;
  font-weight: 600;
}

.member_role {
  font-size: 0.9rem;
  color: #d0d5dd;
}

@media (max-width: 600px) {
  .network_container {
    padding: 20px;
  }
  .title {
    font-size: 3.5rem;
    font-weight: 400;
  }

  .title span {
    display: none;
  }

  .description {
    font-size: 1.2rem;
    max-width: 100%;
  }
}
